html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.tingle-modal-box {
    width: 30%;
}

.tingle-modal-box__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

input {
    text-align: center;
    width: 100px;
    margin: 5px 10px;
    font-size: 16px;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1%;
}

.vs {
    font-size: 32px;
    color: #e74c3c;
    margin: 0 10px;
}

.button-fight {
    font-size: 32px;
    padding: 7px 14px;
    margin-left: 15px;
}

select {
    font-size: 32px;
    width: 200px;
    padding: 5px;
}
